
body.light-mode {
    background-color: white;
    color: black;
    text-decoration: none;
  }

  header.light-mode {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-left.light-mode {
    color: black;
    opacity: 0.7;
  }

  .header-btn {
    float: right;
    padding: 20px 40px;
}

  .header-btn .icon-svg {
    height: 20px;
    width: 20px;
}

.header-btn button{
    background-color: transparent;
    color: #333;
    border: 2px solid #828080;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

  .top-wrapper.light-mode {
    background-color: white;
    color: black;
  }
  
  .content-wrapper.light-mode {
    background-image: linear-gradient( white, #ffcfdf, #7e9e9d, white);
  }
  
  .heading.light-mode {
    color: black;
    opacity: 0.7;
  }
  
  .skills.light-mode {
    color: black;
    opacity: 0.7;
  }
  
  .text-contents.light-mode {
    color: white;
  }
  
  .message-wrapper.light-mode {
    background: rgba(255, 255, 255, 0.7);
    color: black;
  }
  
  footer.light-mode {
    background-color: white;
    color: black;
    font-weight:bolder;
  }

  
